* {
 box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
}

h1 {
 font-size: 50px;
 text-align: center;
 padding-top: 60px;
}

h2 {
 font-size: 25px;
}

.game-board-and-players {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 align-items: center;
 padding: 0px 150px;
}

#player-1 {
 height: 150px;
 width: 150px;
 background-color: black;
 border-radius: 50%;
 color: white;
 text-align: center;
 padding-top: 60px;
}

#player-2 {
 height: 150px;
 width: 150px;
 background-color: white;
 border-radius: 50%; 
 color: black;
 text-align: center;
 padding-top: 60px;
 border: 1px solid black;
}

.game-board {
 margin: auto;
 align-content: center;
 width: 480px;
 height: 480px;
 background-color: #3A6639;
 border-left: 1px solid black;
 border-top: 1px solid black;
 display: inline-flex;
 flex-direction: row; 
 align-content: flex-start;
}

.square {
 width: 60px;
 height: 60px;
 background-color: none;
 border-bottom: 1px solid black;
 border-right: 1px solid black;
}

.piece {
 height: 45px;
 width: 45px;
 border-radius: 50%;
 display: inline-block;
 margin: 6.5px;
}

.color-black {
 background-color: black;
}

.color-white {
 background-color: white;
}